.converter{
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    background-color: #424563;
    border-radius: 0px 0px 20px 20px;
  }
  
  .select{
    background-color: white;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 4px;
  }
  
  .select::after {
    content: 'H';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
  }
  
  @media (min-width: 240px) and (max-width: 848px){
    #input-media{
      display: flex;
      flex-wrap: wrap;
      margin: 0 2%;
    }
  }